/* 
마진 : 형제관계 사이의 간격 >> 같은 열 
(형제관계 끼리만 쓸수있음)
이거 개ㅐㅐㅐㅐㅐㅐㅐㅐㅐㅐㅐㅐㅐㅐㅐ중요

패딩 : 부모와 형제 관계 사이의 간격
(부모가 커지는것. 나를 미는게 아니라... 
백퍼센트라는 절대적인것에서 20픽셀이 더 올라가는것(무너짐))

남는 공간은 패딩으로 잡는게 아니라
그냥 퍼센트나 그런걸로 

*/
/* 
바디는 부모라고 인식을 안함
바디는 화면 그 자체
*/


body,p{
    margin: 0; font-size: 25px;
}
.firstDiv{
    background-color: #555;
    margin: 30px;
    /* margin:30px 30px 50px;
    padding: 0 50px 50px;
    box-sizing: border-box; */
}
.firstDiv p{
    background-color: #039; color: white;
    margin: 50px;
}

/*  자손의 margin으로 부모를 밀어내면 안됨 */
/* margin : 형제관계에서만 간격을 벌리는 용도 */

.secondDiv{
    background-color: #ddd; 
    margin: 50px;
}
  /* >> 이거 개잘못됨 */


/* 
    margin 은 동일한 방향에서 만나게 되면 서로 상쇄됨.
    margin > top, right, bottom, lefr 사용가능 = 되도록이면 -left, -bottom만 사용
    네 방향중 두 방향만 써서 같은 방향에서 만나는일을 최대한 피하게하는것이 좋음
*/

.centerDiv{
    width: 300px;
    border: 1px solid blue;
    /* margin-left: auto; */
    margin: 0 auto;
    /* 조건 : 부모너비가 자신의 너비보다 작아야됨
    (수식 : 배치공간너비 - 적용대상너비 /2) */
    text-align: center;
    padding: 10px;
    /* padding : 부모가 주는 여백
    너비나 높이에 가산됨  */
}

.centerDiv p{
    background-color: rgb(140, 20, 20); color: white;
    margin: 0 10px;
    /* 잘못된 케이스! 부모를 밀어내는 잘못된 margin */
}

.paddingDiv{
    float: left;
    width: 30%;
    border: 3px solid gray;
    padding: 10px 1.5%;
    box-sizing: border-box;
    /* 보더와 패딩을 다 삼켜버리는 box-sizing */
}

/* 
box-sizing : border-box (default : content-box)
1. width, padding 은 %적용 가능 (수동계산 가능) , border는 %적용 불가(수동계산불가)
2. 만약에 열배치를 한다고 가정하고 3열을 설정 한다고 했을 떄 33.33%씩 너비를 할당하면 결국 border는 px기 떄문에 3열이 안성되지 못함.

todo. 그러니까 box-sizing 을 사용하면 padding, border를 width안으로 삼켜서 해결
*/

body > :nth-last-of-type(1),
body > :nth-last-of-type(2){
    margin-left: 5%;
}
/* 위에껀 재미로(?) 써보기.... */

/* 공간배치할때 중요한것은 무조건 100퍼센트를 다 써야한다! */

